@model IEnumerable<PetRental.WebMVC1.Models.TemporaryAdopt>
@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>

<tr>
    <td>
        @Html.ActionLink("Rent A Pet", "Create") |


        @Html.ActionLink("Return A Pet", "Return")


    </td>
</tr>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pet.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalCost)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PetAvailability)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TransType)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.TimeOfRental)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalCost)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PetAvailability)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TransType)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TimeOfRental)
                </td>*@
            <td>
                @Html.ActionLink("Edit Transaction", "Edit", new { id = item.TransactionId }) |
                @Html.ActionLink("More Details", "Details", new { id = item.TransactionId }) |
                @Html.ActionLink("Delete Transaction", "Delete", new { id = item.TransactionId })
            </td>
        </tr>
    }

</table>