@model PetRental.WebMVC1.Models.TemporaryAdopt

@{
    ViewBag.Title = "Return";
}
<br />
<br />
<h2>Create A Pet Return Transaction</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-3">
                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PetId, "Pet Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-3">
                @Html.DropDownList("PetId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PetId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentalDuration, "Rental Duration Actual", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-3">
                @Html.EditorFor(model => model.RentalDuration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RentalDuration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentalCost, "Rental Cost Actual", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-3">
                @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PetAvailability, "Returning This Pet?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-3">
                @Html.EditorFor(model => model.PetAvailability, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PetAvailability, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TransType, "Transaction Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-3">
                @Html.EnumDropDownListFor(model => model.TransType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TransType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-xs-3">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back To Directory", "Index")
</div>