@model IEnumerable<PetRental.WebMVC1.Models.Pet>
@{
    ViewBag.Title = "Index";
}

<h2>The Animals Of Pet Fix</h2>

<p>
    @Html.ActionLink("Add A New Pet", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalBreed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vaccination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetCount)
        </th>>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCost)
            </td>

            <td>
                @Html.ActionLink("Edit Pet", "Edit", new { id = item.PetId }) |
                @Html.ActionLink("More Details", "Details", new { id = item.PetId }) |
                @Html.ActionLink("Remove Pet", "Delete", new { id = item.PetId }) |
                @Html.ActionLink("Add Pictures Of This Pet", "Index", "Content/Index")
            </td>
        </tr>
    }
</table>